.itemic{
    cursor: pointer;
}
.itemic:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
.icon-img{
    height: 70px;
    width: 80px;
    margin-top: 40px;
    
}
.itemic p{
    color: rgb(182, 113, 23);
    margin: 6px 0px;
margin-bottom: 40px;
margin-left: 10px;
font-family: copperplate, Papyrus, fantasy;
}